<%= form_with(model: tracing) do |form| %>
  <% if tracing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracing.errors.count, "error") %> prohibited this tracing from being saved:</h2>

      <ul>
        <% tracing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_of_visit %>
    <%= form.date_select :date_of_visit %>
  </div>

  <div class="field">
    <%= form.label :mother_is_health %>
    <%= form.text_field :mother_is_health %>
  </div>

  <div class="field">
    <%= form.label :son_is_health %>
    <%= form.text_field :son_is_health %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :mother_id %>
    <%=  form.collection_select(:mother_id, Mother.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= form.label :baby_id %>
    <%=  form.collection_select(:baby_id, Baby.all, :id, :full_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
