<p id="notice"><%= notice %></p>

<h1 class="text-center">Historia Clínica</h1>
<br>
<table class="table table-primary" >
  <thead>
    <tr>
      <th>Fecha de la visita</th>
      <th>Salud de la madre</th>
      <th>Salud del bebé</th>
      <th>Descripción</th>
      <th>Madre</th>
      <th>Bebé</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracings.each do |tracing| %>
    <font size="2">
      <tr class="table-primary" >
        <td><%= tracing.date_of_visit %></td>
        <td><%= tracing.mother_is_health %></td>
        <td><%= tracing.son_is_health %></td>
        <td><%= tracing.description %></td>
        <td><%= tracing.mother.full_name %></td>
        <td><%= tracing.baby.full_name %></td>
        <td><%= link_to 'Show', tracing %></td>
        <td><%= link_to 'Edit', edit_tracing_path(tracing) %></td>
        <td><%= link_to 'Destroy', tracing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tracings %>
<br>

<%= link_to 'New Tracing', new_tracing_path %>
