<%= form_with(model: center_attention) do |form| %>
  <% if center_attention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(center_attention.errors.count, "error") %> prohibited this center_attention from being saved:</h2>

      <ul>
        <% center_attention.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :direction_id %>
    <%= form.collection_select(:direction_id, Direction.all, :id, :street)%>
  </div>
  <div class="field">
    <%= form.label :direction_id %>
    <%= form.collection_select(:direction_id, Direction.all, :id, :number)%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
