<p id="notice"><%= notice %></p>

<h1>Center Attentions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Direction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @center_attentions.each do |center_attention| %>
      <tr>
        <td><%= center_attention.name %></td>
        <td><%= center_attention.description %></td>
        <td><%= center_attention.direction.full_dir%></td>
        <td><%= link_to 'Show', center_attention %></td>
        <td><%= link_to 'Edit', edit_center_attention_path(center_attention) %></td>
        <td><%= link_to 'Destroy', center_attention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @center_attentions %>
<br>

<%= link_to 'New Center Attention', new_center_attention_path %>
