<p id="notice"><%= notice %></p>

<h1 class="text-center">Provincia</h1>
<br>
<table class="table table-primary">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>País</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provinces.each do |province| %>
    <font size="2">
      <tr class="table-primary" >
        <td><%= province.name %></td>
        <td><%= province.country.name %></td>
        <td><%= link_to 'Show', province %></td>
        <td><%= link_to 'Edit', edit_province_path(province) %></td>
        <td><%= link_to 'Destroy', province, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @provinces %>
<br>

<%= link_to 'New Province', new_province_path %>
