<p id="notice"><%= notice %></p>

<h1>Pregnancy Controls</h1>

<table>
  <thead>
    <tr>
      <th>Control type</th>
      <th>Control date</th>
      <th>Description</th>
      <th>Mother</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pregnancy_controls.each do |pregnancy_control| %>
      <tr>
        <td><%= pregnancy_control.control_type %></td>
        <td><%= pregnancy_control.control_date %></td>
        <td><%= pregnancy_control.description %></td>
        <td><%= pregnancy_control.mother_id %></td>
        <td><%= link_to 'Show', pregnancy_control %></td>
        <td><%= link_to 'Edit', edit_pregnancy_control_path(pregnancy_control) %></td>
        <td><%= link_to 'Destroy', pregnancy_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pregnancy Control', new_pregnancy_control_path %>
